<h1>Requests for Video Support</h1>
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Page</th>
    <th>Date Created</th>
    <th></th>
  </tr>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr id="ticket-<%= ticket.id %>">
        <td><%= ticket.id %></td>
        <td><%= ticket.product_id %></td>
        <td><%= ticket.created_at %></td>
        <td><a class='connect-call btn-block btn btn-success' data-endpoint="<%= ticket.endpoint %>"
        data-ticket="<%= ticket.id %>" href="#" >Call customer</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
